#E1 , #E2, #E3, #E4, #E5{
  background-color: rgb(34, 33, 83); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 23px;
  cursor: pointer;
  transition: all 0.3s ease;

}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}