#E1 , #E2, #E3, #E4{
  background-color: rgb(34, 33, 83); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
}